/* common.css */

audio {
    width: 100%;
    padding: 10pt;
}

#scrollToTopBtn {
    display: none;
    opacity: 0.5;
}
#scrollToTopBtn:hover {
    opacity: 1.0;
    background-color: #f1f1f1;
    border: 1px solid black;
}

.avatar {
    height: 100pt;
    width: auto;
    border: gray 1px solid;
    margin-bottom: 1rem;
}
.avatar-thumbnail {
    height: 30pt;
    width: 30pt;
    object-fit: scale-down;
}
